<!DOCTYPE HTML>
<html ng-app="gitviewer">
	<head>
		<title>view git repos</title>
		
	</head>
	
	<body ng-controller="MyController">     
		<h2>git repos viewer</h2>
		<p>enter username to view their data</p>
		<input type="text" placeholder="enter username here..." ng-model="newuser" /> 
        <button type="button" ng-click="submitTask()">Submit</button>  
        <br />
        usrname:
    <a href="{{person.html_url}}">
        {{person.login}}
    </a>
    <br />
    <p>list of repos</p>
<ul>
				<li ng-repeat="x in repo">
					<a href="" ng-click="showrepo(x)">{{x.name}}</a>
					<pre ng-show="x.showw">
					id :- {{x.id}}
					name :- {{x.name}}
					full_name :- {{x.full_name}}
					user's url :- <a href="{{x.html_url}}">{{x.owner.login}}</a></pre>
					
				</li>
			</ul>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="gitnew.js"></script>
	</body>
</html>
