<!DOCTYPE HTML>
<html ng-app="todo">
	<head>
		<title>some ng-magic!</title>
		<style type="text/css">
			.complete {
				text-decoration: line-through;
			}
			.even {
				color: red;
			}
			.odd {
				color: blue;
				font-weight: 900;
			}
		</style>
	</head>
	
	<body ng-controller="TodoController" ng-init="init(); newTask='hello';">     
		<h2>TODO</h2>
		<p>
			<input type="text" id="task" 
				placeholder="enter task here..."
				ng-model="newTask" />                           			<button type="button" 
				id="submitTaskBtn"
				ng-click="submitTask()">Submit</button>      			{{newTask}}
		</p>


		<hr/>
		<h4>My Tasks</h4>
		{{tasks}}      
		<ul>                                      						   
			<li ng-repeat="task in tasks" class="task" 
				ng-class="{complete: task.completed, even: $index%2===0 , odd: $index%2!=0 }">  
																							<input type="checkbox" ng-model="task.completed" /> 
				{{task.name}} {{task.completed}}   
			</li>
		</ul>
		
		<p>{{getCompletedTasksCount()}}/{{tasks.length || 0}} tasks completed</p>  
		

		<button type="button" id="archiveTaskBtn" ng-click="archiveTasks()">Archive</button>
    	<button type="button" id="completeAllBtn" ng-click="completeAll()">Complete All</button> 


		<script type="text/javascript" src="/bower_components/angularjs/angular.js"></script>
		<script type="text/javascript" src="todo-ng.js"></script>
	
	</body>
</html>